*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Microsoft YaHei";
}
/* 导航栏 */
.search{
	width: 6.4rem;
	height: 0.97rem;
} 
.logo{
	width:0.57rem;
	height: 0.62rem;
	margin-left: 0.23rem;
	float: left;
}
.logo img{
	width: 100%;
	height: 100%;
	float: left;
}
.empty{
	width: 6.4rem; /* 顶出空白 */
	height: 0.15rem;
}
/* 搜索框 */
.sousuo{
	width: 4.44rem;
	height: 0.35rem;
	float: left;
	margin-top: 0.15rem;
	margin-left: 0.2rem;
	margin-right: 0.28rem;
	border-bottom: 1px solid #000;
}
#border-left{
	height: 0.04rem;
	width: 0.01rem;
	border-left: 1px solid #000;
	float: left;
	margin-top: 0.31rem;
}
#border-right{
	height: 0.04rem;
	width: 0.01rem;
	border-right: 1px solid #000;
	float: right;
	margin-top: 0.31rem;
}
.sousuo input{
	border-style: none;
	float: left;
	height: 0.2rem;
	width: 4.06rem;
	margin-left: 0.06rem;
	margin-top: 0.09rem;
	font-size: 0.14rem;
	color:#ccc;
}
.sousuo input:focus{
	outline:0;
}
.fdj{
	width: 0.19rem;
	height: 0.21rem;
	float: right;
	margin-top: 0.11rem;
	margin-right: 0.05rem;
}
.fdj img{
	width: 100%;
	height: 100%;
	float: right;
}
.sousuo_text{
	font-size: 0.24rem;
	color: #34343a;
	float: left;
	margin-top: 0.22rem;
}
/* 轮播 css */
.bannrbox{
	width: 6.4rem;
	height: 2.89rem;
	position:relative;
	overflow: hidden;
}
.bannrimg{
	width: 6.4rem;
	height: 2.89rem;
	position: relative;
}
.bannrul li{
	width: 6.4rem;
	height: 2.89rem;
	float: left;
}
.bannrul li img{
	width: 100%;
	height: 100%;
}
/* 轮播按钮 */
.bannrbtn{
	width: 1.7rem;
	height: 0.1rem;
	position: relative;
	bottom: 0.25rem;
	left: 2.3rem;
	z-index: 8;
}
.bannrbtn span{
	width: 0.08rem;
	height: 0.08rem;
	margin-left: 0.24rem;
	background:#000;
  	opacity: 0.5;
	float: left;
	border-radius: 100%;
	cursor: pointer;  
}
.bannrul{
	width: 44.8rem;
	position: absolute;
}
.bannrbtn span.current{
	background: #fff;
}

/* 热销排行 */
.btbox{
	width: 6.4rem;
	height: 2.08rem;
}
.btbox_btn{
	width: 1.1rem;
	height: 1.55rem;
	float: left;
	margin-right: 0.34rem;
	margin-bottom: 0.3rem;
}
.btbox_img{
	width: 1.1rem;
	height: 1.1rem;
	margin-bottom: 0.15rem;
}
.btbox_img img{
	width: 100%;
	height: 100%;
}
.btbox_btn  p{
	color: rgb( 132, 137, 128 );
	font-size:0.2rem;
	text-align: center;
}

/* 水果专区 */
.biaoqian{
	width: 6.4rem;
	height: 0.73rem;
}
.biaoqian img{
	width: 100%;
	height: 100%;
	float: left;
}
.bigbox{
	width: 6.4rem;
	height: 6rem;
	background: #eff2ec
}
.shuiguo1{
	width: 6.4rem;
	height: 2.2rem;
	float: left;
	margin-bottom: 0.03rem;
}
.shuiguo1 img{
	width: 100%;
	height: 100%;
	float: left;
}
.shuiguo2{
	width: 3.4rem;
	height: 1.8rem;
	float: left;
	margin-bottom: 0.03rem;
}
.shuiguo2 img{
	width: 100%;
	height: 100%;
	float: left;
}
.shuiguo3{
	width: 2.97rem;
	height: 3.63rem;
	float: right;
}
.shuiguo3 img{
	width: 100%;
	height: 100%;
	float: right;
}
/* 底部 */
.btm{
	width: 6.4rem;
	height: 0.98rem;
	border-top: 1px solid #88d549;
	position: fixed;
	bottom: 0;
	background: #fff;
}
.gouwuche{
	width: 1.13rem;
	height: 1.12rem;
	position: absolute;
	right: 0.2rem;
	bottom: 0.23rem;
}
.gouwuche a img{
	width: 100%;
	height: 100%;
}
.btm_btn{
	width: 0.43rem;
	height: 0.7rem;
	float: left;
	margin-top: 0.15rem;
}
.btm_img{
	width: 0.43rem;
	height: 0.38rem;
	margin-bottom: 0.05rem;
	float: left;
}
.btm_img img{
	width: 100%;
	height: 100%;
	float: left;
}
.btm_btn p{
  font-size: 0.18rem;
  color: rgb( 132, 137, 128 );
}
.btm_logo{
	width: 0.76rem;
	height: 0.85rem;
	float: left;
	margin-left: 0.66rem;
}
.btm_logo a img{
	width: 100%;
	height: 100%;
	float: left;
}
.btm_weimei{
	width: 0.9rem;
	height: 0.71rem;
	float: left;
	margin-left: 0.54rem;
	margin-top: 0.15rem;
}
.btm_img2{
	width: 0.37rem;
	height: 0.38rem;
	float: left;
	margin-left: 0.2rem;
	margin-bottom: 0.05rem;
}
.btm_img2 img{
	width: 100%;
	height: 100%;
	float: left;

}
.btm_weimei p{
  font-size: 0.18rem;
  color: rgb( 132, 137, 128 );
  float: left;
}