*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Microsoft YaHei";
}
.dtop{
	width: 6.4rem;
	height: 0.97rem;
	border-bottom: 0.02rem solid #eff2ec;
}
.dtop_img{
	width: 0.18rem;
	height: 0.3rem;
	margin-left: 0.36rem;
	margin-top: 0.4rem;	
	float: left;
}
.dtop_img img{
	width: 100%;
	height: 100%;
	float: left;
}
.ptop{
	width: 1.4rem;
	height: 0.31rem;
	font-size: 0.26rem;
	color:#88d549;
	float: left;
	margin-left: 2rem;
	margin-top: 0.35rem;
}
.rtop{
	font-size: 0.22rem;
	color: #88d549;
	float: right;
	margin-right: 0.16rem;
	margin-top: 0.4rem;
}
.ding{
	width: 6.4rem;
	height: 0.12rem;
	background: #eff2ec;
}
.content{
	width: 6.4rem;
	height: 10.38rem;
	background: #eff2ec;
}
.address{
	width: 6.25rem;
	height: 4.37rem;
	background: #fff;
	margin-left: 0.08rem;
}

/* 单选框*/
.default{
	width: 6.25rem;
	height: 0.8rem;
	border-bottom: 0.01rem solid #eff2ec;

} 
.radio_p{
	font-size: 0.24rem;
	color: #333;
	float: left;
	cursor: pointer;
	margin-top: 0.24rem;
	margin-left: 0.23rem;
}
.radio1{
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 100%;
	border: 0.03rem solid #88d549;
	float: left;
	cursor: pointer;
	margin-left: 0.2rem;
	margin-top: 0.19rem;
}
.radio2{
	width: 0.17rem;
	height: 0.17rem;
	background: #fff;
	float: left;
	border-radius: 100%;
	margin-top: 0.12rem;
	margin-left: 0.12rem;
}
.radio:checked ~.radio1>.radio2{
	background: #88d549;
}
.radio{
	display: none;
}

.addtagg{
	width: 6.25rem;
	height: 0.68rem;
	border-bottom: 0.01rem solid #eff2ec;
	font-size: 0.24rem;
	color: #666;
	text-indent: 0.43rem;
	line-height: 0.68rem;
}
.addtagg input{
	border:none;
	outline:none;
}
.addimg{
	width: 0.16rem;
	height: 0.26rem;
	margin-top: 0.22rem;
	float: right;
	margin-right: 0.32rem;
}
.addimg img{
	width: 100%;
	height: 100%;
	float: right;
}

