*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Microsoft YaHei";
}
.dtop{
	width: 6.4rem;
	height: 0.97rem;
	border-bottom: 0.02rem solid #eff2ec;
}
.dtop_img{
	width: 0.18rem;
	height: 0.3rem;
	margin-left: 0.36rem;
	margin-top: 0.4rem;	
	float: left;
}
.dtop_img img{
	width: 100%;
	height: 100%;
	float: left;
}
.ptop{
	width: 1.4rem;
	height: 0.31rem;
	font-size: 0.26rem;
	color:#88d549;
	float: left;
	margin-left: 2rem;
	margin-top: 0.35rem;
}

.xinxi{
	width: 6.4rem;
	height: 0.84rem;
	background: #eff2ec;
	color: #333;
	font-size: 0.24rem;
	text-indent: 0.08rem;
	line-height: 0.84rem;
	font-weight: bold;
}
.list{
	width: 6.4rem;
	height: 0.81rem;
	border-bottom: 0.01rem solid #dedede;
	line-height: 0.81rem;
	text-indent: 0.08rem;
	color: #666;
	font-size: 0.24rem;
}
.list_content{
	width: 2.71rem;
	height: 0.81rem;
	line-height: 0.81rem;
	color: #666;
	font-size: 0.24rem;
	float: right;

}
.list2{
	width: 6.4rem;
	height: 1.85rem;
	border-bottom: 0.01rem solid #dedede;
	color: #666;
	font-size: 0.24rem;
	text-indent: 0.08rem;
}
.list2_left{
	width: 4rem;
	height: 1.85rem;
	float: left;
}
.list2_right{
	width: 1.77rem;
	height: 1.85rem;
	float: right;
	line-height: 1.85rem;
}
.list2_left>p{
	margin-top: 0.2rem;
}
.list_jiage{
	color: #f54d32;
	font-size: 0.24rem;
	width: 0.92rem;
	height: 0.81rem;
	line-height: 0.81rem;
	float: right;
}

.shoplist{
	width: 6.4rem;
	height: 1.69rem;
	background: #fff;
}
.shop_img{
	width: 1rem;
	height: 1rem;
	float: left;
	margin-top: 0.38rem;
	margin-left: 0.07rem;
	margin-right: 0.15rem;
}
.shop_img img{
	width: 100%;
	height: 100%;
	float: left;
}
.shop_p{
	width: 2.9rem;
	height: 0.52rem;
	float: left;
	color: #666;
	font-size: 0.2rem;
	margin-top: 0.38rem;
	margin-right: 1rem;
}
.shop_p2{
	width: 1.01rem;
	height: 0.18rem;
	color: #f54d32;
	font-size: 0.18rem;
	float: right;
	margin-top: 0.48rem;
}
.shop_p3{
	width: 1.01rem;
	height: 0.18rem;
	color: #333;
	font-size: 0.18rem;
	float: right;
	margin-top: 0.4rem;
}
.list3{
	width: 6.4rem;
	height: 1.14rem;
	background: #fff;
	color: #666;
	font-size: 0.24rem;
	text-indent: 0.09rem;
}


/* btm */
.btm{
	width: 6.4rem;
	height: 1rem;
}
.btm_left{
	width: 2.1rem;
	height: 0.24rem;
	color:#f54d32;
	font-size: 0.24rem;
	float: left;
	margin-top: 0.32rem;
	margin-left: 0.08rem;
}
.btm_right{
	float: right;
	margin-right: 0.08rem;
	width: 1.31rem;
	height: 0.44rem;
	color: #fff;
	background: #f54d32;
	line-height: 0.44rem;
	text-align: center;
	font-size: 0.24rem;
	margin-top: 0.24rem;
	border-radius: 0.03rem 0.03rem 0.03rem 0.03rem;
	cursor: pointer;
}